<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="login-container">
        <div class="login-box">
            <h2>Restablecer contraseña</h2>
            <p>Ingrese su nueva contraseña.</p>
            
            <form id="resetPasswordForm">
                <div class="input-group">
                    <label>Nueva Contraseña</label>
                    <input
                        type="password"
                        placeholder="Ingrese su nueva contraseña"
                        id="newPassword"
                        required
                    />
                </div>
                <div class="input-group">
                    <label>Confirme la Contraseña</label>
                    <input
                        type="password"
                        placeholder="Confirme su nueva contraseña"
                        id="confirmPassword"
                        required
                    />
                </div>
                <button type="submit" class="login-button">Restablecer contraseña</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token'); // Obtener el token de la URL
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            alert('Las contraseñas no coinciden.');
            return;
        }

        try {
            const response = await fetch('/auth/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token, newPassword }) // Enviar el token junto con la nueva contraseña
            });

            if (response.ok) {
                const data = await response.json();
                alert(data.message); // Mostrar el mensaje de éxito
                window.location.href = '/login.html';
            } else {
                const errorData = await response.json();
                alert('Error: ' + errorData.message); // Mostrar el mensaje de error
            }
        } catch (error) {
            alert('Error: ' + error.message);
        }
    });

    </script>

</body>
</html>
